<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%-4.30thread] %cyan(%-40logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.oklimenko" level="TRACE" />

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>